.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 29px;
      position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.adminhome{
    text-align: center;
    justify-content: center;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 99vh;
   overflow: hidden;
   background-image: url("https://images.unsplash.com/photo-1637625854255-d893202554f4?auto=format&fit=crop&q=80&w=1854&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.ad1{
    top: 50%;
    position: absolute;
    left: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    transform: translate(-50%, -50%);
    
}

.adminh4{
    cursor: none;
}
.price{
    text-align: center;
    justify-content: center;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 37em;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/JnXH3NW/vecteezy-abstract-modern-white-and-grey-background-texture-6033971.jpg");
}



.adprsbtn{
    top: -30px;
    left: 120px;
    width: 100px !important;
}
.adhead{
    margin-left: -30px;
    padding-left: 10px;
    padding-top: 10px;
}
.priceinpt{
    width: 170px;
}
.price3{
    display: flex;
    gap: 10px;
}
.price{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.price1{
    display: flex;
    gap: 70px;
}
.pp1{
    padding-right: 10px;
    font-weight: 500;
}
.pp2{
    padding-right: 2px;
    font-weight: 500;
}
.pp3{
    padding-right: 14px;
    font-weight: 500;
}